$bu: 8px;

// colors
$picton-blue: #44515e;
$cerulean-blue-pastel: #6b7282;
$boston-blue: #8b94a6;
$astral: hsl(202, 51%, 61%);
$tufts-pastel-navy: hsl(203, 41%, 57%);
$fiord: hsl(206, 30%, 72%);
$bright-gray: hsl(221, 14%, 95%);

$storm-dark: #111;
$storm-base: #444;

// fonts
$body-font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

// breakpoints
$bp-mobile-sm: 321px;
$bp-mobile-md: 376px;
$bp-mobile-lg: 414px;
$bp-tablet-sm: 562px;
$bp-tablet-md: 768px;
$bp-desktop-sm: 1120px;
$bp-desktop-md: 1280px;
$bp-desktop-lg: 1536px;

// Spacing units
$spacing-sizes: (
  'xxs': 1,
  'xs': 2,
  's': 3,
  'm': 5,
  'l': 8,
  'xl': 11,
  'xxl': 16,
  'xxxl': 25
);

$spacing-sides: (
  'top',
  'right',
  'bottom',
  'left'
);
