<template>
  <footer class="main">
    <div class="container-md">
      <div class="grid">
        <div class="col-3">
          <img src="https://via.placeholder.com/128x64" alt="alt" />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </p>
        </div>
        <div class="col-2 right">
          <h4>
            Nav item
          </h4>
          <ul>
            <li>
              additional item
            </li>
            <li>
              additional item
            </li>
            <li>
              additional item
            </li>
            <li>
              additional item
            </li>
          </ul>
        </div>
        <div class="col-2">
          <h4>
            Nav item
          </h4>
          <ul>
            <li>
              additional item
            </li>
            <li>
              additional item
            </li>
            <li>
              additional item
            </li>
            <li>
              additional item
            </li>
          </ul>
        </div>
        <div class="col-2">
          <h4>
            Nav item
          </h4>
          <ul>
            <li>
              additional item
            </li>
            <li>
              additional item
            </li>
            <li>
              additional item
            </li>
            <li>
              additional item
            </li>
          </ul>
        </div>
        <div class="col-2">
          <h4>
            Nav item
          </h4>
          <ul>
            <li>
              additional item
            </li>
            <li>
              additional item
            </li>
            <li>
              additional item
            </li>
            <li>
              additional item
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</template>

<style lang="scss">
  @import "../scss/variables.scss";

  footer {
    li {
      margin-bottom: $bu * 2;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
</style>
