<template>
  <header>
    <div class="container-md">
      <div class="grid between">
        <div class="col-6 align-middle">
          <h1>Lorem ipsum titel amet Lorem ipsum</h1>
          <p>
            We&quot;re a design studio from Amsterdam.
            We help startups and other businesses to refine,
            design and launch their digital products.
          </p>
        </div>
        <div class="col-6">
          <img src="https://via.placeholder.com/1152x800/CCD1DB" alt="alt" />
        </div>
      </div>
    </div>
  </header>
</template>
