<template>
  <input
    :type="type"
    :placeholder="placeholder"
  />
</template>

<style lang="scss">
@import "../scss/variables.scss";

input {
  background: #fff;
  border: 1px solid #d2dadf;
  box-shadow: inset 0 1px 3px 0 #d2d8dd;
  border-radius: 3px;
  font-size: 15px;
  padding: 8px 0 8px 10px;
  color: #313d45;
  outline: none;
  transition: all 250ms ease-in-out;

  &::placeholder {
    color: #b2bbc1;
    letter-spacing: 0;
  }

  &:focus {
    transition: all 250ms ease-in-out;
    border-color: $storm-base;
  }
}

</style>

<script>
export default {
  props: {
    type: {
      type: String,
      default: 'text'
    },
    placeholder: {
      type: String,
      default: "Insert text"
    }
  }
}
</script>
