<template>
  <nav class="main-nav">
    <div class="container-sm">
      <div class="content">
        <div class="logo-left">
          <img src="https://via.placeholder.com/128x48/CCD1DB" alt="alt" />
        </div>
        <div class="menu right">
          <ul>
            <li>
              <a href="/docs">Docs</a>
            </li>
            <li>
              <a href="#moetje">
                nav item 2
              </a>
            </li>
            <li>
              <a href="#moetje">
                nav item 3
              </a>
            </li>
            <li>
              <a href="#moetje">
                nav item 4
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</template>
<style scoped lang="scss">
  nav {
    .right {
      margin-left: auto;
    }

    &.sub {
      height: auto;
    }

    &.padded {
      padding: 8px 0;
    }

    &.main-nav {
      height: auto;
      background: #fff;
      width: 100%;

      &.stick {
        &.is-sticky {
          position: fixed;
          top: 0;
          left: 0;
        }
      }
    }

    [class*='container'] {
      .content {
        height: 100%;
        display: flex;
        align-items: center;

        .menu {
          display: flex;

          ul {
            list-style: none;

            li {
              display: inline-flex;

              a {
                display: block;
                padding: 8px 16px;
                margin: 0 8px;
                color: #44515e;
                text-decoration: none;
                transition: 200ms;

                &:hover {
                  background-color: #555;
                  color: white;
                }
              }
            }
          }
        }
      }
    }

    @media screen and (max-width: 768px) {
      display: none;
    }
  }
</style>
