<template>
  <section>
    <Nav />
    <Header />
    <div>
      <h1 class="title">NUXT<span class="green">JS</span></h1>
      <h2 class="subtitle">{{myJson.header.text}}</h2>
      <div class="links">
        <a href="https://nuxtjs.org/">Documentation <IconLink/></a>
        <NLink to="/about">About</NLink>
      </div>
    </div>
    <Footer />
  </section>
</template>

<script>
import json from '~/data/index.json'

import Nav from '~/components/Nav.vue'
import Header from '~/components/Header.vue'
import Footer from '~/components/Footer.vue'
import Logo from '~/components/Logo.vue'
import IconLink from '~/components/IconLink.vue'

export default {
  data(){
    return{
      myJson: json
    }
  },
  components: {
    Nav,
    Header,
    Footer,
    Logo,
    IconLink
  }
}
</script>

<style scoped>
.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 400;
  font-size: 100px;
  color: #2E495E;
  letter-spacing: 1px;
  font-size: 6em;
}
.green {
  color: #00C48D;
}

.subtitle {
  font-weight: 300;
  font-size: 3em;
  color: #2E495E;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
