h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 74px;
  color: $storm-dark;
  margin-bottom: 24px;

  @media screen and (max-width: $bp-desktop-md) {
    font-size: 60px;
    line-height: 78px;
  }

  @media screen and (max-width: $bp-desktop-sm) {
    font-size: 54px;
    line-height: 68px;
  }

  @media screen and (max-width: $bp-tablet-md) {
    font-size: 44px;
    line-height: 60px;
  }

  @media screen and (max-width: $bp-mobile-lg) {
    font-size: 34px;
    line-height: 48px;
  }

  @media screen and (max-width: $bp-mobile-md) {
    font-size: 32px;
    line-height: 38px;
  }
}

h2 {
  font-size: 44px;
  font-weight: 700;
  line-height: 60px;
  color: $storm-dark;
  margin-bottom: 2 * $bu;

  @media screen and (max-width: $bp-desktop-md) {
    font-size: 36px;
    line-height: 52px;
  }

  @media screen and (max-width: $bp-tablet-md) {
    font-size: 32px;
    line-height: 46px;
  }

  @media screen and (max-width: $bp-mobile-lg) {
    font-size: 28px;
    line-height: 40px;
  }

  @media screen and (max-width: $bp-mobile-md) {
    font-size: 24px;
    line-height: 38px;
  }
}

h3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  color: $storm-dark;
  margin-bottom: 12px;

  @media screen and (max-width: $bp-desktop-sm) {
    font-size: 30px;
    line-height: 40px;
  }

  @media screen and (max-width: $bp-tablet-md) {
    font-size: 26px;
    line-height: 34px;
  }

  @media screen and (max-width: $bp-mobile-lg) {
    font-size: 22px;
    line-height: 32px;
  }

  @media screen and (max-width: $bp-mobile-md) {
    font-size: 20px;
    line-height: 30px;
  }
}

h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: $storm-dark;
  margin-bottom: 12px;

  @media screen and (max-width: $bp-desktop-sm) {
    font-size: 22px;
    line-height: 30px;
  }

  @media screen and (max-width: $bp-tablet-md) {
    font-size: 20px;
  }

  @media screen and (max-width: $bp-mobile-lg) {
    font-size: 18px;
    line-height: 28px;
  }

  @media screen and (max-width: $bp-mobile-md) {
    font-size: 16px;
    line-height: 24px;
  }
}

h5 {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: $storm-dark;
  margin-bottom: $bu;

  @media screen and (max-width: $bp-tablet-md) {
    font-size: 18px;
    line-height: 28px;
  }
}

h6 {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: $storm-dark;
  margin-bottom: $bu;

  @media screen and (max-width: $bp-mobile-lg) {
    font-size: 15px;
    line-height: 24px;
  }
}

header p.streamer {
  font-size: 20px !important;
}

p {
  font-size: 16px;
  color: #80829e;
  line-height: 30px;
  font-weight: 400;

  &.streamer {
    font-size: 18px !important;
    line-height: 32px;
    max-width: 480px;

    @media screen and (max-width: $bp-tablet-md) {
      margin-right: auto;
      margin-left: auto;
    }

    @media screen and (max-width: $bp-mobile-lg) {
      font-size: 16px;
    }

    &.large {
      font-size: 20px !important;

      @media screen and (max-width: $bp-mobile-lg) {
        font-size: 18px !important;
        line-height: 24px !important;
      }

      &-x {
        font-size: 24px !important;
        max-width: 100% !important;
        font-weight: 600;
      }
    }

    &.wide {
      max-width: 584px;
    }

    &.small {
      font-size: 16px !important;
      font-weight: 500;
    }

    &.center {
      max-width: 660px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &.small {
    font-size: 14px;
    line-height: 26px;
  }

  &.large {
    font-size: 18px;
    line-height: 32px;
  }

  &.italic {
    font-style: italic;
  }

  &.dark {
    color: $storm-base;
  }
}

.eyebrow {
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  color: $astral;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: $bu / 2;

  &.center {
    text-align: center;
  }

  &.lower {
    text-transform: none;
    letter-spacing: 0;
  }
}

.bolden {
  font-weight: 700;
}

.col-3,
.col-4 {
  p {
    font-size: 14px;
    line-height: 26px;
  }
}

.no-mar {
  margin: 0;
}
